<footer class="container mx-auto md:py-16 px-8 mt-6 text-gray-800">
	<div class="-mx-3 grid md:grid-cols-9 gap-4">
		<div class="px-3 col-span-2">
			<h2 class="text-lg font-semibold mt-6 md:mt-0">Event Details</h2>
			<p class="mt-5">Wednesday, November 6, 2024<br/>
			10:00am - 3:00pm Central Time</p>
			<p class="mt-8 md:mt-12 mb-8"><a href="/register/" class="py-4 px-12 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-900">Register</a></p>
		</div>
		<div class="col-span-4 px-4">
			<h2 class="text-lg font-semibold mt-6 md:mt-0">Land Acknowledgement</h2>
			<p class="mt-5">We acknowledge that the land on which our institutions stand is the ancestral homeland of the Potawatomi, Ojibwe, Odawa (Ottawa), Fox, Ho-Chunk, Menominee, Sauk, and Oneida peoples. The history of colonization by our state and federal governments informs our shared commitment to a future of collaboration and innovation. We honor and respect the inherent sovereignty of the <a href="https://dpi.wi.gov/amind/tribalnationswi">First Nations of Wisconsin</a>. We recognize that Indigenous presence and land rights is more complicated than a simple acknowledgement, so we encourage you to <a href="https://native-land.ca/">become aware of it in your everyday life</a>.</p>
		</div>
		<div class="px-3 col-span-3">
			<h2 class="text-lg font-semibold mt-6 md:mt-0">Contact Information</h2>
			<p class="mb-6">Contact us at <a href="mailto:info@wipostdocexpo.org">info@wipostdocexpo.org</a>.</p>
			<h3 class="font-semibold mt-6 md:mt-0">Institutional Contacts:</h3>
			<ul class="leading-loose">
				<li>Medical College of Wisconsin: <a href="mailto:postdoc@mcw.edu">Adam Greenberg, PhD</a></li>
				<li>Morgridge Institute: <a href="mailto:edobson@morgridge.org">Ellen Dobson, PhD, GCDF</a></li>
				<li>University of Wisconsin-Madison: <a href="mailto:contact@postdoc.wisc.edu">Imogen Hurley, PhD</a></li>
				<li>Versiti Blood Research Institute: <a href="mailto:vbri@versiti.org">Melody Reichoff</a></li>
			</ul>
		</div>
		
		
	</div>
</footer>