<section class="container mx-auto my-20 py-24 bg-gray-200 rounded-lg text-center p-48">
	<h3 class="text-5xl font-semibold" id="update">Keep in Touch</h3>
	<p class="mt-8 text-xl font-light">If you want to be informed about updates to the Wisconsin Postdoc Expo, let us know. We’ll notify you when registration opens and when other important information about the event is available.</p>
	<div id="wufoo-z17p1b5n0lo2qng"> Fill out my <a href="https://morgridgeinstitute.wufoo.com/forms/z17p1b5n0lo2qng">online form</a>. </div> <script type="text/javascript"> var z17p1b5n0lo2qng; (function(d, t) { var s = d.createElement(t), options = { 'userName':'morgridgeinstitute', 'formHash':'z17p1b5n0lo2qng', 'autoResize':true, 'height':'403', 'async':true, 'host':'wufoo.com', 'header':'hide', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { z17p1b5n0lo2qng = new WufooForm(); z17p1b5n0lo2qng.initialize(options); z17p1b5n0lo2qng.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
</section>
<footer class="container mx-auto py-16 px-3 mt-24 mb-8 text-gray-800">
	<div class="flex -mx-3 flex-col sm:flex-row">
		<div class="flex-1 px-3">
			<h2 class="text-lg font-semibold mt-6 md:mt-0">Save the Date</h2>
			<p class="mt-5">Wednesday, November 6, 2024 <br />10:00am - 3:00pm Central Time</p>
		</div>
		<div class="flex-1 px-3">
			<h2 class="text-lg font-semibold mt-6 md:mt-0">Partners</h2>
			<ul class="mt-4 leading-loose"><li><a href="https://mcw.edu/">Medical College of Wisconsin</a></li><li><a href="https://morgridge.org/">Morgridge Institute for Research</a></li><li><a href="https://wisc.edu/">University of Wisconsin-Madison</a></li><li><a href="https://versiti.org/">Versiti</a></li></ul>
		</div>
	</div>
</footer>