<section class="container mx-auto my-20 py-24 bg-gray-200 rounded-lg text-center">
	<h3 class="text-5xl font-semibold">Wisconsin Postdoc Expo</h3>
	<p class="mt-8 text-xl font-light">Quis lectus nulla at volutpat diam ut. Enim lobortis scelerisque fermentum dui faucibus in.</p>
	<p class="mt-8"><a class="py-4 px-8 bg-blue-800 hover:bg-blue-900 text-white rounded cursor-pointer text-lg" href="#">Register Now</a></p>
</section>
<footer class="container mx-auto py-16 px-3 mt-24 mb-8 text-gray-800">
	<div class="flex -mx-3 flex-col sm:flex-row">
		<div class="flex-1 px-3">
			<h2 class="text-lg font-semibold">About Us</h2>
			<p class="mt-5">Ridiculus mus mauris vitae ultricies leo integer malesuada nunc.</p>
		</div>
		<div class="flex-1 px-3">
			<h2 class="text-lg font-semibold mt-6 md:mt-0">Partners</h2>
			<ul class="mt-4 leading-loose"><li><a href="https://mcw.edu/">Medical College of Wisconsin</a></li><li><a href="https://morgridge.org/">Morgridge Institute for Research</a></li><li><a href="https://wisc.edu/">University of Wisconsin-Madison</a></li><li><a href="https://versiti.org/">Versiti</a></li></ul>
		</div>
		<div class="flex-1 px-3">
			<h2 class="text-lg font-semibold mt-6 md:mt-0">Contact Us</h2>
			<p class="mt-5">Ridiculus mus mauris.</p>
		</div>
	</div>
</footer>