<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Discover the diverse training opportunities at multiple research institutions in Wisconsin on Wednesday, November 6, 2024.">
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<script defer data-domain="wipostdocexpo.org" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="font-sans text-gray-800 bg-gray-100">
    {% include "../components/navigation.njk" %}
    <main class="text-gray-900">
		{{ content | safe }}
    </main>
	{% include "../components/footer.njk" %}
    <script src="/assets/main.js"></script>
  </body>
</html>
