---
title: Medical College of Wisconsin
layout: layouts/base.njk
permalink: /mcw/
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>

<img class="float-right pl-4 mb-4" src="/img/medicalcollege.png" alt="Medical College of Wisconsin">

<p class="mb-4 text-xl">Every great life-changing discovery begins the same way—with new knowledge. It can change everything, from a single life to the future of entire communities. That’s why academic medicine, and the continuous pursuit of knowledge, is at the center of everything we do. The Medical College of Wisconsin brings a synergy between the best medical education, research and patient care. Tomorrow’s discoveries happen right here alongside the very people who bring those lessons to our students. Every bit of knowledge, and every advancement, provides our students with an unprecedented, collaborative learning environment, and helps improve the vitality and care of our communities.</p>

<p class="mb-4 text-xl">MCW’s Office of Postdoctoral Education was among the first in the United States (est. 2001). Our Postdoc Office is housed within the Graduate School and serves all postdoctoral researchers on campus, sending the message that postdocs are, first and foremost, trainees.</p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>Approximately 200 postdocs train at MCW each year</li>
	<li>2? Clinical and 7 Basic Science departments </li>
	<li>3rd largest private medical school in the USA </li>
	<li>More than 1200 active clinical trials </li>
	<li>$1.96 billion in research funding over the last 10 years </li>
</ul>

<div class="bg-white rounded-x1 shadow-sm p-6 border clear-both">
<h2 class="font-bold text-2xl mb-2">Mission </h2>
<p class="mb-4 text-xl">MCW requires postdoc salaries to be at or above NIH guidelines.</p>
<p class="mb-4 text-xl">Postdocs are eligible to apply for 4 internal funding mechanisms (totaling more than 1 million dollars per year) to support their independent research and training endeavors.</p>
<p class="mb-4 text-xl">The primary goal of the MCW Office of Postdoctoral Education is to grow and maintain our postdoc community. The office provides equitable support and unique resources, programs, interest groups and trainings for MCW postdocs. The activities sponsored by the Office are designed to complement the excellent training and mentorship provided by our outstanding faculty. </p>
<p class="mb-4 text-xl">The MCW Office of Postdoctoral Education provides award opportunities highlighting: </p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>Postdocs exhibiting excellence in science</li>
	<li>Female postdocs</li>
	<li>Postdoc paper of the season</li>
	<li>Postdoctoral mentor of the year</li> 
</ul>
<p class="mb-4 text-xl">The Professional Development Award supports travel and training which is given out twice a year. </p>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8" src="/img/mcw-thumb.jpg" alt="Thumbs up"></div>

<h2 class="font-bold text-2xl mb-2">Postdocs at a Glance </h2>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>55% identify as Female</li>
	<li>60% obtain their PhD outside of the U.S.</li>  
	<li>72% of postdocs have been at MCW 2 years or less.</li> 
	<li>73% of postdocs are the ages of 35 or younger.</li>
	<li>47% Asian; 40% white; 4% Black; 5% Latinx </li>
	<li>22% of postdocs are funded through training grants or fellowships</li>  
	<li>73% of postdocs are married</li>  
	<li>60% of postdocs live 5 miles or less from campus (39% live 2 miles or less)</li>
	<li>81% of postdocs are satisfied with MCW professional development offerings</li>  
	<li>80% of postdocs believe their advisor is very or extremely supportive of their career plan</li>
</ul>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8" src="/img/mcw-paint.jpg" alt="Color Run"></div>

<h2 class="font-bold text-2xl mb-4">What sets Medical College of Wisconsin apart? </h2>

<p class="mb-4 text-xl">The Medical College of Wisconsin has strong ties to industry/start-up companies in Greater Milwaukee. </p>
</div>

<div class="bg-blue-100 border border-blue-500 px-4 py-3 mt-8">
<h2 class="font-bold text-2xl mb-2">Helpful Resources</h2>
<ul class="list-disc list-inside ml-4 text-xl mb-4">
	<li><a class="hover:underline" href="https://www.mcw.edu/">Medical College of Wisconsin</a></li>
	<li><a class="hover:underline"  href="https://www.mcw.edu/education/office-of-postdoctoral-education">Office of Postdoctoral Education</a></li>
	<li><a class="hover:underline"  href="https://careers.peopleclick.com/careerscp/client_medcollegewi/external_staff/search.do">Job Portal for Postdocs Opportunities:</a> Use keyword "Postdoc"</li>
</ul>
</div>
</section>
