---
title: Medical College of Wisconsin
layout: layouts/base.njk
permalink: /mcw/
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>

<img class="float-right pl-4 mb-4" src="/img/medicalcollege.png" alt="Medical College of Wisconsin">

<p class="mb-4 text-xl">Every great life-changing discovery begins the same way—with new knowledge. It can change everything, from a single life to the future of entire communities. That’s why academic medicine, and the continuous pursuit of knowledge, is at the center of everything we do. The Medical College of Wisconsin brings a synergy between the best medical education, research and patient care. Tomorrow’s discoveries happen right here alongside the very people who bring those lessons to our trainees. Every bit of knowledge, and every advancement, provides our students with an unprecedented, collaborative learning environment, and helps improve the vitality and care of our communities.</p>

<p class="mb-4 text-xl">MCW’s Office of Postdoctoral Education is among the oldest in the United States (est. 2001). Our Postdoc Office is housed within the Graduate School and serves all postdoctoral researchers on campus, affirming our philosophy that postdocs are, first and foremost, trainees.</p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>Approximately 200 postdocs train at MCW each year</li>
	<li>Postdocs can be members of 22 Clinical, 7 Basic Science departments, 17 Centers and 2 Institutes.</li>
	<li>3rd largest private medical school in the USA </li>
	<li>More than 1200 active clinical trials </li>
	<li>$1.96 billion in research funding over the last 10 years </li>
</ul>

<div class="bg-white rounded-x1 shadow-sm p-6 border clear-both">
<h2 class="font-bold text-2xl mb-2">Mission </h2>
<p class="mb-4 text-xl">MCW is a distinguished learning community dedicated to excellence in education, research, patient care, and community engagement. We are committed to developing collaborative health care and science leaders.</p>
<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8 md:float-right md:max-w-md md:ml-8" src="/img/mcw-building.jpg" alt="Building"></div>

<h2 class="font-bold text-2xl mb-2">Postdoc Community at a Glance </h2>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>55% identify as Female</li>
	<li>60% obtained their PhD outside of the U.S.</li>  
	<li>72% of postdocs have been at MCW 2 years or less.</li> 
	<li>73% of postdocs are the ages of 35 or younger.</li>
	<li>47% Asian; 40% white; 4% Black; 5% Latinx </li>
	<li>22% of postdocs are funded through training grants or fellowships</li>  
	<li>73% of postdocs are married</li>  
	<li>60% of postdocs live 5 miles or less from campus (39% within 2 miles or less)</li>
	<li>81% of postdocs report being satisfied with MCW professional development offerings</li>  
	<li>80% of postdocs believe their advisor is very or extremely supportive of their career plan</li>
</ul>

<h2 class="font-bold text-2xl mb-4">What sets the Medical College of Wisconsin apart?  </h2>
<p class="mb-4 text-xl">The primary goal of the MCW Office of Postdoctoral Education is to grow and foster our postdoc community. The office provides equitable support and unique resources, programs, and professional development training for MCW postdocs. The activities sponsored by the Postdoc Office are designed to complement the excellent training and mentorship provided by our outstanding faculty.  </p>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8 md:float-right md:max-w-md md:ml-8" src="/img/mcw-lab.jpg" alt="Scientists"></div>

<p class="mb-4 text-xl"><strong>The MCW Office of Postdoctoral Education provides a large range of award opportunities including:</strong></p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
<li>Excellence in Science (top postdoc each year) </li>
<li>Outstanding Woman Postdoc</li>
<li>Postdoc paper of the season (Fall and Spring competitions) </li>
<li>Postdoc Professional Development Award (Fall and Spring competitions) </li>
<li>Postdoc Faculty Mentor of the Year</li>
<li>Annual Scientific Image Award</li>
</ul>

<p class="mb-4 text-xl"><strong>Some additional unique facts about MCW for prospective postdocs:</strong></p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
<li>MCW postdocs are eligible to apply for 4 internal funding mechanisms as PI (total funding of nearly $1 million per year) to support their independent research and training endeavors</li>
<li>The Medical College of Wisconsin has strong ties to industry/start-up companies in Greater Milwaukee, the primary industry hub in the state of Wisconsin </li>
<li><a href="https://www.mcw.edu/departments/catalyst-bioconsulting">MCW’s Catalyst BioConsulting</a> allows postdocs the opportunity to gain valuable consulting experience with local start-up companies while still a postdoc </li>
<li>MCW requires postdoc salaries to be at or above NIH guidelines </li>
<li>All postdocs are required to complete a Career Development Plan (and meet with advisors to discuss) on a yearly basis </li>
<li>Monthly “Spotlight on Science” professional development seminar brings a large range of external speakers/panelists to campus </li>
<li>Annual Postdoc Research Symposium provides a forum for postdocs to gain valuable scientific feedback from the entire institution </li>
<li>Immigration Office includes dedicated staff to help foreign national postdocs with visa issues </li>
<li><a href="https://www.mcw.edu/education/office-of-postdoctoral-education/postdoc-advisory-committee">Postdoc Advisory Committee</a> (group of ~20 current postdocs) works closely with the Postdoc Office to gain leadership experience </li>
<li>Postdoc-specific courses include “Advance from Postdoc to Faculty”, “Learn to Teach”, “Transition from Postdoc to Industry”, “Career Advancement Pathway Workshop”, and others </li>
<li>Large range of social, community-building events exclusively for postdocs on a monthly basis throughout the year </li>
</ul>
</div>

<div class="bg-blue-100 border border-blue-500 px-4 py-3 mt-8">
<h2 class="font-bold text-2xl mb-2">Helpful Resources</h2>
<ul class="list-disc list-inside ml-4 text-xl mb-4">
	<li><a class="hover:underline" href="https://www.mcw.edu/">Medical College of Wisconsin</a></li>
	<li><a class="hover:underline"  href="https://www.mcw.edu/education/office-of-postdoctoral-education">Office of Postdoctoral Education</a></li>
	<li><a class="hover:underline"  href="https://careers.peopleclick.com/careerscp/client_medcollegewi/external_staff/search.do">Job Portal for Postdocs Opportunities:</a> Use keyword "Postdoc"</li>
</ul>
</div>
</section>
