---
title: Morgridge Institute for Research
layout: layouts/base.njk
permalink: /morgridge/
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>

<img class="float-right pl-4" src="/img/morgridge.png" alt="Morgridge Institute for Research">

<p class="mb-4 text-xl">As an independent research organization, the Morgridge Institute for Research explores uncharted scientific territory to discover tomorrow’s cures. In affiliation with the University of Wisconsin–Madison, we support researchers who take a fearless approach to advancing human health in emerging fields such as regenerative biology, metabolism, virology, bioethics, advanced computing and biomedical imaging. </p>

<p class="mb-8 text-xl">Morgridge is structured to help scientists push into new frontiers of biology, rather than work around the edges of what’s already known. For curiosity-driven research to thrive, our scientists must have the freedom, flexibility and courage to pursue transformational ideas. Postdoctoral researchers at Morgridge are essential members of our team who bring creativity and expertise to help us achieve these goals. </p>
<div class="bg-white rounded-x1 shadow-sm p-6 border">
<h2 class="font-bold text-2xl mb-2">Mission </h2>
<p class="mb-4 text-xl">Improve human health through innovative, interdisciplinary biomedical discoveries, spark scientific curiosity and serve society through translational outcomes, in partnership with the University of Wisconsin–Madison.</p>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8 md:float-right md:max-w-md md:ml-8" src="/img/morgridge-lab.jpg" alt="Scientist in Lab"></div>

<p class="mb-4 text-xl">Our Core Values include:</p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li><strong>Curiosity:</strong> We embrace and encourage bold questions. We conduct fearless science and follow the results where they take us. </li>
	<li><strong>Collaboration:</strong> We can’t do this alone. We partner with the University of Wisconsin–Madison to achieve the greatest outcomes. </li>
	<li><strong>Integrity:</strong> We pursue our mission with rigor, discipline and honesty. We treat everyone with dignity and respect and are committed to equality. </li>
	<li><strong>Inspiration:</strong> We believe society is strengthened by science. We connect with communities to spark imagination. </li>
</ul>
<!--
<h2 class="font-bold text-2xl mb-2">Diversity, Equity and Inclusion</h2>
<p class="mb-4 text-xl"><strong>Morgridge’s commitment to a workplace where everyone thrives</strong></p>
<p class="mb-4 text-xl">The Morgridge Institute’s commitment to diversity is an extension of our mission: We must recruit the most talented people from all segments of society to deliver on our promise to make discoveries that improve human health and promote lifelong interest in science. We also must maintain a professional culture where all feel welcome and included. </p>

<p class="mb-4 text-xl">We cannot afford to leave talent behind. Moreover, women and people of color continue to be underrepresented in American science, and we aim to change that. </p>

<p class="mb-8 text-xl">Understanding, learning, and improving are the cornerstones of science. We want to apply these same principles to diversity and inclusion in our workforce. We see the scientific research environment as the ideal environment for inclusion. When we bring people together to discuss ideas and insights, people come to know and value one another. Different perspectives and backgrounds enhance the end results. </p>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8" src="/img/morgridge-building.jpg" alt="Discovery Building"></div>-->

<h2 class="font-bold text-2xl mb-2">Postdocs at a Glance </h2>
<p class="mb-8 text-xl">The Morgridge Institute for Research provides our postdocs with opportunities to grow as scientists, mentors, communicators, and members of society. Through fellowship programs, workshops, and collaborations within the scientific community, we strive to cultivate well-rounded professionals whose skills extend far beyond the bench.  Our postdocs join Morgridge to do outstanding science while simultaneously preparing for the next stages of their careers. Our postdoc alumni include faculty, private-sector research scientists, government policy makers, entrepreneurs, and more.</p>

<h2 class="font-bold text-2xl mb-4">What sets Morgridge apart?</h2>
<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8 md:float-right md:max-w-md md:ml-8" src="/img/morgridge-whiteboard.jpg" alt="Scientists collaborating"></div>

<p class="mb-2 text-xl"><strong>Support For The Whole Scientist</strong></p>

<p class="mb-4 text-xl">We recognize that there are many dimensions of a fulfilling scientific career. Our scientists can access an advanced fabrication lab and high-throughput computing services, leadership training, professional development opportunities, career exploration support and networks, engagement opportunities with the community, and communications and graphic design assistance.  They also have access to UW-Madison as affiliates and all that entails, including shared facilities/services, libraries, and a robust network of other scientists. In addition to access to Morgridge’s in-house resources, our postdocs also have full access to UW-Madison’s Office of Postdoctoral Studies and the UW-Madison Postdoctoral Association.</p>

<p class="mb-2 text-xl"><strong>Competitive Benefits</strong></p>

<p class="mb-4 text-xl">All Morgridge Institute postdocs are full employees and receive the same benefits as our staff, which include affordable, high quality health insurance, exceptional 401k matching contributions, and generous paid time off policies, including volunteer time and parental leave, commuter benefits, and more.  </p>

<p class="mb-2 text-xl"><strong>A Welcoming, Collaborative Environment</strong></p>

<p class="mb-4 text-xl">Opportunities abound to connect across teams and roles, including at the Diversity, Equity, and Inclusion Roundtable and Women’s Cafe.  We support continuing education and professional development through certificate programs and conference funding.  And many Morgridge postdocs broaden their training with dual advising, pairing principal investigators at the institute and UW-Madison. </p>

<p class="mb-2 text-xl"><strong>A World-Class City</strong></p> 

<p class="mb-4 text-xl">“Madison, WI has a long- standing reputation as one of the best college towns in the country, but this city offers so much more as one of the best places to live in the U.S.” — Livability, which ranked Madison as the #1 place to live in 2021 and 2022.</p>
</div>

<div class="bg-blue-100 border border-blue-500 px-4 py-3 mt-8">
<h2 class="font-bold text-2xl mb-2">Helpful Resources</h2>
<ul class="list-disc list-inside ml-4 text-xl mb-4">
	<li><a class="hover:underline" href="https://morgridge.org/">Morgridge Institute for Research</a></li>
	<li><a class="hover:underline"  href="https://morgridge.org/careers/">Job Portal for Postdoc Opportunities</a></li>
	<li><a class="hover:underline"  href="https://morgridge.org/community/professional-development/">Morgridge Professional Development offerings</a></li>
	<li><a class="hover:underline"  href="https://morgridge.org/research/labs/community-engagement/">Morgridge Community Engagement</a></li>
	<li><a class="hover:underline"  href="https://morgridge.org/careers/madison/">Why Madison?</a></li>
	<li><a class="hover:underline" href="https://morgridge.org/about/dei/">Diversity, Equity and Inclusion</a></li>
</ul>
</div>
</section>
