---
title: Partner Institutions
layout: layouts/base.njk
permalink: /partner/
eleventyNavigation:
  key: Partner Institutions
  order: 1
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>

<p class="mb-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo ullamcorper a lacus vestibulum sed. Elementum curabitur vitae nunc sed velit dignissim sodales ut. In nibh mauris cursus mattis molestie a iaculis at. Mattis pellentesque id nibh tortor id aliquet. Morbi blandit cursus risus at. Pellentesque habitant morbi tristique senectus et netus et. Ultrices in iaculis nunc sed. Tortor aliquam nulla facilisi cras fermentum. Bibendum est ultricies integer quis auctor elit sed vulputate mi. Elit at imperdiet dui accumsan sit amet. Tempus urna et pharetra pharetra massa massa ultricies. Integer quis auctor elit sed vulputate mi.</p>

<div class="bg-white rounded-x1 shadow-sm p-6 border">
<h2 class="font-bold text-2xl mb-2"><a href="/mcw/">Medical College of Wisconsin</a></h2>
<img class="md:float-right pl-4 mb-4" src="/img/medicalcollege.png" alt="Medical College of Wisconsin">
<p class="mb-8 text-xl">Every great life-changing discovery begins the same way—with new knowledge. It can change everything, from a single life to the future of entire communities. That’s why academic medicine, and the continuous pursuit of knowledge, is at the center of everything we do. The Medical College of Wisconsin brings a synergy between the best medical education, research and patient care. Tomorrow’s discoveries happen right here alongside the very people who bring those lessons to our students. Every bit of knowledge, and every advancement, provides our students with an unprecedented, collaborative learning environment, and helps improve the vitality and care of our communities.</p>

<p class="mb-12"><a href="/mcw/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about MCW</a></p>

<h2 class="font-bold text-2xl mb-2 border-t-2 pt-8 clear-both"><a href="/morgridge/">Morgridge Institute for Research</a></h2>

<img class="md:float-right pl-4" src="/img/morgridge.png" alt="Morgridge Institute for Research">

<p class="mb-4 text-xl">As an independent research organization, the Morgridge Institute for Research explores uncharted scientific territory to discover tomorrow’s cures. In affiliation with the University of Wisconsin–Madison, we support researchers who take a fearless approach to advancing human health in emerging fields such as regenerative biology, metabolism, virology, bioethics, advanced computing and biomedical imaging. </p>

<p class="mb-6 text-xl">Morgridge is structured to help scientists push into new frontiers of biology, rather than work around the edges of what’s already known. For curiosity-driven research to thrive, our scientists must have the freedom, flexibility and courage to pursue transformational ideas. Postdoctoral researchers at Morgridge are essential members of our team who bring creativity and expertise to help us achieve these goals. </p>

<p class="mb-12"><a href="/morgridge/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about Morgridge</a></p>

<h2 class="font-bold text-2xl mb-2 border-t-2 pt-8"><a href="/versiti/">Versiti Blood Research Institute</a></h2>

<img class="md:float-right pl-4 mb-4" src="/img/versiti.png" alt="Versiti Blood Research Institute">

<p class="mb-6 text-xl">Versiti is a fusion of donors, scientific curiosity and precision medicine that recognizes the gifts of blood and life are precious. We are home to the world-renowned Versiti Blood Research Institute, we enable lifesaving gifts from our donors, and we provide the science behind the medicine through Versiti’s diagnostic laboratories.</p>

<p class="mb-12"><a href="/versiti/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about Versiti</a></p>

<h2 class="font-bold text-2xl mb-2 border-t-2 pt-8 clear-both"><a href="/uw/">University of Wisconsin&ndash;Madison</a></h2>

<img class="md:float-right pl-4 mb-4" src="/img/uw.png" alt="University of Wisconsin-Madison">

<p class="mb-6 text-xl">Since its founding in 1848, UW&ndash;Madison has been a catalyst for the extraordinary. Each year UW&ndash;Madison provides 1,100 postdocs with the opportunity to train alongside world-renowned scholars in pursuit of groundbreaking research which has the potential to solve real-world problems. The university has more than $1.52 billion in annual research expenditures, a figure that puts UW&ndash;Madison among the top 10 in the nation among universities for volume of research. UW–Madison is distinct for its significant breadth of disciplines and cross-campus research collaborations. Postdocs are trained in 130 different departments in disciplines ranging from the biological, physical and social sciences to the arts and humanities. UW&ndash;Madison invests in innovative research, outstanding scholarship, and next-generation thought leaders, which together form an enterprise that benefits Wisconsin, the nation, and the world. </p>

<p class="mb-12"><a href="/uw/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about UW</a></p>
</div>
</div>
</section>
