---
title: Partner Institutions
layout: layouts/base.njk
permalink: /partner/
eleventyNavigation:
  key: Partner Institutions
  order: 1
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>

<p class="mb-8 text-xl">Wisconsin research institutions offer a wide range of world-leading postdoctoral training experiences. From small to large, in Milwaukee or Madison, focused on a select group of fields or serving all disciplines, you will find a strong research and training environment to match your goals. </p>

<div class="bg-white rounded-x1 shadow-sm p-6 border">
<h2 class="font-bold text-2xl mb-2"><a href="/mcw/">Medical College of Wisconsin</a></h2>
<img class="md:float-right pl-4 mb-4" src="/img/medicalcollege.png" alt="Medical College of Wisconsin">
<p class="mb-8 text-xl">Academic medicine, and the continuous pursuit of knowledge, is at the center of everything we do at the Medical College of Wisconsin. Tomorrow’s discoveries happen alongside the people who bring those lessons to our trainees. Every bit of knowledge, and every advancement, provides our trainees with an unprecedented, collaborative and inclusive learning environment, and helps improve the vitality of our local and global communities. MCW’s Postdoc Office was one of the first established in the United States, highlighting our longstanding commitment to advocacy and support for postdoctoral researchers. Enhancing the postdoc community at MCW is an institutional priority through comprehensive professional development programming, internal postdoc-specific funding mechanisms, and leadership opportunities that foster community building.  </p>

<p class="mb-12"><a href="/mcw/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about MCW</a></p>

<h2 class="font-bold text-2xl mb-2 border-t-2 pt-8 clear-both"><a href="/morgridge/">Morgridge Institute for Research</a></h2>

<img class="md:float-right pl-4" src="/img/morgridge.png" alt="Morgridge Institute for Research">

<p class="mb-8 text-xl">At the Morgridge Institute for Research, we boldly explore uncharted scientific territory to discover tomorrow’s cures. Affiliated with the University of Wisconsin–Madison, we support fearless researchers advancing human health in emerging fields like regenerative biology, metabolism, virology, bioethics, advanced computing, and biomedical imaging. Our structure empowers scientists to foster curiosity-driven research while emphasizing connection between our scientists and the public we serve.  Postdoctoral researchers at Morgridge are vital team members contributing creativity and expertise to pursue transformational ideas. Their passion for discovery provides authenticity to our community engagement efforts, and we are deeply committed to their growth as scientists, communicators, and future leaders. </p>

<p class="mb-12"><a href="/morgridge/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about Morgridge</a></p>

<h2 class="font-bold text-2xl mb-2 border-t-2 pt-8"><a href="/versiti/">Versiti Blood Research Institute</a></h2>

<img class="md:float-right pl-4 mb-4" src="/img/versiti.png" alt="Versiti Blood Research Institute">

<p class="mb-8 text-xl">Advancing lifesaving research discoveries has been part of Versiti’s mission for more than 75 years. The Versiti Blood Research Institute (VBRI) is widely considered the leader in blood research, both nationally and internationally. Our five areas of focus include transfusion medicine and cellular therapy, thrombosis and hemostasis, stem cell biology, immunobiology, and translational hematology. In addition to conducting in-depth research that benefits patients with diseases like leukemia, hemophilia, and multiple sclerosis, many of our physician scientists treat patients at local hospitals, bringing novel treatments directly to the individuals who need them. The VBRI has cultivated an outstanding environment for postdoctoral research. Postdocs receive comprehensive training in research and career development and participate in exciting trainee-focused activities. </p>

<p class="mb-12"><a href="/versiti/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about Versiti</a></p>

<h2 class="font-bold text-2xl mb-2 border-t-2 pt-8 clear-both"><a href="/uw/">University of Wisconsin&ndash;Madison</a></h2>

<img class="md:float-right pl-4 mb-4" src="/img/uw.png" alt="University of Wisconsin-Madison">

<p class="mb-6 text-xl">The University of Wisconsin–Madison is a research powerhouse ranked among the top 10 research institutions in the U.S. with annual expenditures exceeding $1.52 billion. We are a large research institution with an even larger mission: to improve lives around the world. Each year we provide 1,100 postdocs in 130 different departments with the opportunity to train alongside world-renowned scholars in pursuit of groundbreaking research which has the potential to solve real-world problems. Throughout their training, our postdocs maximize their postdoc experience through postdoc-specific career and professional development programs, a vibrant and connected postdoc community, and ongoing support for their success and wellbeing. </p>

<p class="mb-12"><a href="/uw/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about UW</a></p>
</div>
</div>
</section>
