---
title: Register
layout: layouts/base.njk
permalink: /register/
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left w-full">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>
<p class="mb-4 text-xl">Register for the 2024 Wisconsin Postdoc Expo. A free virtual event where you can discover the diverse training opportunities at multiple research institutions in Wisconsin.</p>
<p class="mb-8 text-xl"><strong>Wednesday, November 6, 2024 | 10:00am - 3:00pm Central Time</strong></p>
<div id="wufoo-z1dh4xth1ljgept"> Fill out my <a href="https://morgridgeinstitute.wufoo.com/forms/z1dh4xth1ljgept">online form</a>. </div> <script type="text/javascript"> var z1dh4xth1ljgept; (function(d, t) { var s = d.createElement(t), options = { 'userName':'morgridgeinstitute', 'formHash':'z1dh4xth1ljgept', 'autoResize':true, 'height':'1892', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { z1dh4xth1ljgept = new WufooForm(); z1dh4xth1ljgept.initialize(options); z1dh4xth1ljgept.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
</div>
</section>
