---
title: Schedule
layout: layouts/base.njk
permalink: /schedule/
eleventyNavigation:
  key: Schedule
  order: 2
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-center lg:text-left">
<h1 class="mb-8 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>
 <p><a class="py-2 px-6 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-900" href="/img/Postdoc-Expo-Brochure.pdf">Download PDF of Schedule</a></p>
<div class="bg-white rounded-x1 shadow-sm p-6 border mt-8">
	<div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500">10:00 AM CST</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 1. Navigating the Transition into a Postdoc Position</h3>
      <p class="mb-6 text-base">Choosing to embark on a postdoc marks a significant transition in an academic career. During this session, we will explore the intricacies of this pivotal phase, and provide insights and strategies to ensure a successful transition from graduate student to becoming a postdoc.</p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Understand the distinction between the identities of a graduate student and a postdoc</li>
				<li>Successfully navigate the transition from graduate school to a postdoc position </li>
				<li>Identify and define the expectations of your postdoctoral training, for yourself and in alignment with the expectations of your supervisor</li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4 mb-4">Speakers</h3>
			<ul class="list-inside text-base">
				<li class="mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-leystra.jpg" alt="Alyssa Leystra"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/alyssa-leystra-69896994/">Alyssa Leystra, PhD, Associate Director for Skills Development, Office of Postdoctoral Studies, University of Wisconsin–Madison </a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-rao.jpg" alt="Sid Rao"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/sridhar-rao-079349170/">Sid Rao, MD, PhD, Investigator and Program Leader Stem Cell Biology, Versiti Blood Research Institute</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-marner.jpg" alt="Wesley D. Marner II"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/drwesmarner/">Wesley D. Marner II, PhD, Engagement, Education, and Equity Director, Morgridge Institute for Research </a></li>
			</ul>
    </div>
  </div>
  
  <div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500 dark:text-neutral-400">11:00 AM CST</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 2. Choosing and Securing the Right Postdoc Opportunity for You</h3>
      <p class="mb-6 text-base">During this session you will learn how to find and successfully apply for a postdoc position, targeting your professional and personal goals. The presentation will include advice on identifying positions that match your needs, evaluating prospective research groups, navigating the application process, interviewing effectively, and negotiating a strong postdoc offer.</p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Evaluate different postdoc opportunities and determine the best choice for your future </li>
				<li>Secure the position that aligns with your professional and personal goals </li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4 mb-4">Speakers</h3>
			<ul class="list-inside text-base">
				<li class="mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-krien.jpg" alt="Brady Krien"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/bradykrien/">Brady Krien, PhD, Associate Director for Career Development, Office of Postdoctoral Studies, University of Wisconsin&ndash;Madison</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-dobson.jpg" alt="Ellen Dobson"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/ellen-dobson/">Ellen Dobson, PhD, GCDF, Postdoctoral and Graduate Program Manager, Morgridge Institute for Research</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-greenberg.jpg" alt="Adam Greenberg"/><a class="lg:inline-block pt-4" href="https://mcw.marquette.edu/biomedical-engineering/directory/adam-greenberg.php">Adam S. Greenberg, PhD, Associate Dean of Postdoctoral Education; Associate Professor of Biomedical Engineering, Medical College Wisconsin</a></li>
			</ul>
    </div>
  </div>
  
  <div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500 dark:text-neutral-400">12:00 PM CST</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 3. Exploring the Wisconsin Postdoc Experience</h3>
      <p class="mb-6 text-base">This panel discussion will feature current postdocs from each of the participating institutions. Learn from panelists’ perspectives regarding their training experiences, their path to Wisconsin, and why they chose their positions. </p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Understand the panelists’ perception of their training environments, career supports, and out-of-work environments </li>
				<li>Learn the panelists’ paths toward their postdocs and what landed them in Wisconsin </li>
				<li>Compare and contrast the postdoc experience between the two different locations in Wisconsin </li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4 mb-4">Moderators and Speaker</h3>
			<ul class="list-inside text-base">
				<li class="mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-hill.jpg" alt="Renee Hill"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/reneesabina/">Renee Hill, Senior Manager, Program Administration, Versiti Blood Research Institute</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-hurley.jpg" alt="Imogen Hurley"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/imogen-hurley/">Imogen Hurley, PhD, Director, Office of Postdoctoral Studies, University of Wisconsin-Madison</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-kellogg.jpg" alt="Stephanie Kellogg"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/stephanie-kellogg">Stephanie Kellogg, PhD, Founder, Kellogg Career Coaching</a></li>
			</ul>
			<h3 class="font-semibold mt-4 mb-4 clear-left">Panelists</h3>
			<ul class="list-inside text-base">
				<li class="mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-tibabuzo.jpg" alt="Andres Tibabuzo"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/amtibabuzo/">Andres Tibabuzo, PhD, Postdoctoral Fellow, Morgridge Institute for Research</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-ray.jpg" alt="Atrayee Ray"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/atrayee-ray-postdoc-at-versiti/">Atrayee Ray, PhD, Postdoctoral Research Fellow, Sridhar Rao Lab, Versiti Blood Research Institute</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-parthasarathy.jpg" alt="Aravind Parthasarathy"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/aravind-p-76311b258">Aravind Parthasarathy, PhD, Postdoctoral Researcher, Department of Medicine, Medical College of Wisconsin </a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-willis.jpg" alt="Nate Willis"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/nathaniel-willis-1481437/">Nate Willis, PhD, Postdoctoral Trainee, Department of Nutritional Sciences, University of Wisconsin-Madison</a></li>
			</ul>
    </div>
  </div>
  
  <div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500 dark:text-neutral-400">1:00 PM CST</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 4. Leveraging Your Postdoc Experience to Achieve Your Career Goals </h3>
      <p class="mb-6 text-base">During this session, you will hear first-hand accounts from former postdocs from our institutions on how they used skills gained during their postdoctoral training to enhance their competitiveness for careers in a range of employment sectors. Panelists will share experiences they benefited from during their postdoctoral training and how they leveraged them to successfully transition into their current careers. </p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Identify opportunities within your postdoctoral training that will prepare you for a career in academia, industry, government, and/or non-profit sectors </li>
				<li>Leverage your postdoc experiences and skills to enhance your competitiveness in a wide range of careers</li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4 mb-4">Moderators and Speaker</h3>
			<ul class="list-inside text-base">
				<li class="mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-reichoff.jpg" alt="Melody Reichoff"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/melodyreichoff/">Melody Reichoff, Academic & International Affairs Administrator, Versiti Blood Research Institute</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-marner.jpg" alt="Wesley D. Marner II"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/drwesmarner/">Wesley D. Marner II, PhD, Engagement, Education, and Equity Director, Morgridge Institute for Research </a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-olp.jpg" alt="Wesley D. Marner II"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/landon-olp-673b72b5">Landon Olp, PhD, Office of Technology Development, Medical College of Wisconsin </a></li>
			</ul>
			<h3 class="font-semibold mt-4 mb-4 clear-left">Panelists</h3>
			<ul class="list-inside text-base">
				<li class="mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-desa.jpg" alt="Danielle Desa"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/danielle-desa/">Danielle Desa, PhD, Assistant Scientist, Morgridge Institute for Research</a></li>
				<li class="mb-4 clear-left"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-baumgartner.jpg" alt="Christina K. Baumgartner"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/christina-baumgartner-b1a47238/">Christina K. Baumgartner, PhD, Senior Principal Research Scientist / Director, Oncology Discovery Research, Abbvie</a></li>
				<li class="mb-4 clear-left"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-kelliher.jpg" alt="Jessica Kelliher"/><a class="lg:inline-block pt-4" href="https://www.mcw.edu/departments/microbiology-immunology/people/jessica-kelliher-phd">Jessica Kelliher, PhD, Assistant Professor, Medical College Wisconsin </a></li>
				<li class="mb-4 clear-left"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-stancill.jpg" alt="Jennifer Stancill"/><a class="lg:inline-block pt-4" href="https://stancilllab.owlstown.net/people/2044-jennifer-s-stancill-ph-d">Jennifer Stancill, PhD, Assistant Professor of Biochemistry, Medical University of South Carolina </a></li>
			</ul>
    </div>
  </div>
  
  <div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500 dark:text-neutral-400">2:00 PM CST</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 5. Optional Breakout Rooms with Institutional Experts</h3>
      <p class="mb-6 text-base">Join institutional representatives to learn more about each organization, location, and specific job and training opportunities. Bring your questions and let us share what makes our institutions great! </p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Develop an additional understanding of our institutions, cities, and training opportunities </li>
				<li>Discuss your career and training goals with experts </li>
				<li>Assess which institutions and locations are the best fit to reach your personal and professional goals </li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4 mb-4">Experts</h3>
			<ul class="list-inside text-base">
				<li class="mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-reichoff.jpg" alt="Melody Reichoff"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/melodyreichoff/">Melody Reichoff, Academic & International Affairs Administrator, Versiti Blood Research Institute</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-hurley.jpg" alt="Imogen Hurley"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/imogen-hurley/">Imogen Hurley, PhD, Director, Office of Postdoctoral Studies, University of Wisconsin-Madison</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-greenberg.jpg" alt="Adam Greenberg"/><a class="lg:inline-block pt-4" href="https://mcw.marquette.edu/biomedical-engineering/directory/adam-greenberg.php">Adam S. Greenberg, PhD, Associate Dean of Postdoctoral Education; Associate Professor of Biomedical Engineering, Medical College Wisconsin</a></li>
				<li class="clear-left mb-4"><img class="rounded-full h-16 h-16 float-left mr-4 mb-4" src="/img/speaker-marner.jpg" alt="Wesley D. Marner II"/><a class="lg:inline-block pt-4" href="https://www.linkedin.com/in/drwesmarner/">Wesley D. Marner II, PhD, Engagement, Education, and Equity Director, Morgridge Institute for Research </a></li>
			</ul>
    </div>
  </div>
  
</div>

</div>
</section>
