---
title: Schedule
layout: layouts/base.njk
permalink: /schedule/
eleventyNavigation:
  key: Schedule
  order: 2
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-center lg:text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>

<div class="bg-white rounded-x1 shadow-sm p-6 border">
	<div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500">10:00 AM</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 1. Navigating the Transition into a Postdoc Position</h3>
      <p class="mb-6 text-base">Choosing to embark on a postdoc marks a significant transition in an academic career. During this session, we will explore the intricacies of this pivotal phase, and provide insights and strategies to ensure a successful transition from graduate student to becoming a postdoc.</p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Understand the distinction between the identities of a graduate student and a postdoc</li>
				<li>Successfully navigate the transition from graduate school to a postdoc position </li>
				<li>Identify and define the expectations of your postdoctoral training, for yourself and in alignment with the expectations of your supervisor</li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4">Speakers</h3>
			<ul class="list-disc list-inside ml-4 text-base">
				<li>Anne-Sophie Bohrer, PhD, Training Coordinator, Great Lakes Bioenergy Research Center</li>
				<li>Sid Rao, MD, PhD, Investigator and Program Leader Stem Cell Biology, Versiti Blood Research Institute</li>
			</ul>
    </div>
  </div>
  
  <div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500 dark:text-neutral-400">11:00 AM</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 2. Choosing and Securing the Right Postdoc Opportunity for You</h3>
      <p class="mb-6 text-base">During this session you will learn how to find and successfully apply for a postdoc position, targeting your professional and personal goals. The presentation will include advice on identifying positions that match your needs, evaluating prospective research groups, navigating the application process, interviewing effectively, and negotiating a strong postdoc offer.</p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Evaluate different postdoc opportunities and determine the best choice for your future </li>
				<li>Secure the position that aligns with your professional and personal goals </li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4">Speakers</h3>
			<ul class="list-disc list-inside ml-4 text-base">
				<li>Brady Krien, PhD, Associate Director for Career Development, Office of Postdoctoral Studies </li>
				<li>Ellen Dobson, PhD, GCDF, Postdoctoral and Graduate Program Manager, Morgridge Institute for Research </li>
			</ul>
    </div>
  </div>
  
  <div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500 dark:text-neutral-400">12:00 PM</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 3. Exploring the Wisconsin Postdoc Experience</h3>
      <p class="mb-6 text-base">This panel discussion will feature current postdocs from each of the participating institutions. Learn from panelists’ perspectives regarding their training experiences, their path to Wisconsin, and why they chose their positions. </p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Understand the panelists’ perception of their training environments, career supports, and out-of-work environments </li>
				<li>Learn the panelists’ paths toward their postdocs and what landed them in Wisconsin </li>
				<li>Compare and contrast the postdoc experience between the two different locations in Wisconsin </li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4">Moderators</h3>
			<ul class="list-disc list-inside ml-4 text-base">
				<li>Melissa Manley, Senior Recruiter, Talent Acquisition, Versiti </li>
			</ul>
			<h3 class="font-semibold mt-4">Panelists</h3>
			<ul class="list-disc list-inside ml-4 text-base">
				<li>Helena Jaramillo Mesa, PhD, Morgridge Institute for Research </li>
			</ul>
    </div>
  </div>
  
  <div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500 dark:text-neutral-400">1:00 PM</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 4. Leveraging Your Postdoc Experience to Achieve Your Career Goals </h3>
      <p class="mb-6 text-base">During this session, you will hear first-hand accounts from former postdocs from our institutions on how they used skills gained during their postdoctoral training to enhance their competitiveness for careers in a range of employment sectors. Panelists will share experiences they benefited from during their postdoctoral training and how they leveraged them to successfully transition into their current careers. </p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Identify opportunities within your postdoctoral training that will prepare you for a career in academia, industry, government, and/or non-profit sectors </li>
				<li>Leverage your postdoc experiences and skills to enhance your competitiveness in a wide range of careers</li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4">Moderators</h3>
			<ul class="list-disc list-inside ml-4 text-base">
				<li>TBD</li>
			</ul>
			<h3 class="font-semibold mt-4">Panelists</h3>
			<ul class="list-disc list-inside ml-4 text-base">
				<li>Danielle Desa, PhD, Assistant Scientist, Morgridge Institute for Research </li>
			</ul>
    </div>
  </div>
  
  <div class="flex gap-x-3 mb-8">
		<div class="w-16 text-end flex-none pt-8">
			<span class="text-gray-500 dark:text-neutral-400">2:00 PM</span>
		</div>
		<div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
			<div class="relative z-10 size-7 flex justify-center items-center">
				<div class="size-2 rounded-full bg-gray-400"></div>
			</div>
		</div>
	<div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 text-xl font-semibold text-gray-800">Session 5. Optional Breakout Rooms with Institutional Experts</h3>
      <p class="mb-6 text-base">Join institutional representatives to learn more about each organization, location, and specific job and training opportunities. Bring your questions and let us share what makes our institutions great! </p>
			<div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3">
			<p class="mb-2 text-base font-semibold">After participating in this session, you will be able to: </p>
			<ol class="list-decimal list-inside ml-4 text-base">
				<li>Develop an additional understanding of our institutions, cities, and training opportunities </li>
				<li>Discuss your career and training goals with experts </li>
				<li>Assess which institutions and locations are the best fit to reach your personal and professional goals </li>
			</ol>
			</div>
			<h3 class="font-semibold mt-4">Experts</h3>
			<ul class="list-disc list-inside ml-4 text-base">
				<li>Melody Reichoff, Academic & International Affairs Administrator, Versiti Blood Research Institute</li>
			</ul>
    </div>
  </div>
  
</div>

</div>
</section>
