---
title: University of Wisconsin-Madison
layout: layouts/base.njk
permalink: /uw/
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">University of Wisconsin&ndash;Madison</h1>

<img class="float-right pl-4 mb-8" src="/img/uw.png" alt="University of Wisconsin-Madison">

<p class="mb-4 text-xl">Since its founding in 1848, UW&ndash;Madison has been a catalyst for the extraordinary. Each year UW&ndash;Madison provides 1,100 postdocs with the opportunity to train alongside world-renowned scholars in pursuit of groundbreaking research which has the potential to solve real-world problems. The university has more than $1.52 billion in annual research expenditures, a figure that puts UW&ndash;Madison among the top 10 in the nation among universities for volume of research. UW&ndash;Madison is distinct for its significant breadth of disciplines and cross-campus research collaborations. Postdocs are trained in 130 different departments in disciplines ranging from the biological, physical and social sciences to the arts and humanities. UW&ndash;Madison invests in innovative research, outstanding scholarship, and next-generation thought leaders, which together form an enterprise that benefits Wisconsin, the nation, and the world. </p>

<div class="bg-white rounded-x1 shadow-sm p-6 border clear-both">
<h2 class="font-bold text-2xl mb-2">Mission</h2>
<p class="mb-4 text-xl">The primary purpose of the University of Wisconsin&ndash;Madison is to provide a learning environment in which faculty, staff and students can discover, examine critically, preserve and transmit the knowledge, wisdom and values that will help ensure the survival of this and future generations and improve the quality of life for all. The university seeks to help students to develop an understanding and appreciation for the complex cultural and physical worlds in which they live and to realize their highest potential of intellectual, physical and human development.</p>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8" src="/img/uw-mentor.jpg" alt="Mentoring"></div>

<h2 class="font-bold text-2xl mb-2">Postdocs at a Glance </h2>
<p class="mb-4 text-xl">Postdocs have unique needs. The Office of Postdoctoral Studies aims to address these needs and enhance the postdoctoral training experience for all postdocs. The office is fortunate to have three full-time staff specifically focused on postdoc services including: </p>

<p class="mb-4 text-xl"><strong>Career development:</strong></p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>Individual career advising appointments</li>
	<li>Small group workshops promoting success in diverse career paths</li>
	<li>Postdoc career day with employers from multiple career sectors</li>
</ul>

<p class="mb-4 text-xl"><strong>Skills development:</strong></p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>Postdoctoral training course in scientific leadership </li>
	<li>Grant writing training and support </li>
	<li>Workshops in critical professional skills such as communication, team science and cultural awareness </li>
</ul>

<p class="mb-4 text-xl"><strong>Community and representation:</strong></p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>Vibrant and long-standing postdoctoral association </li>
	<li>Celebration of postdoc excellence awards ceremony and dinner </li>
	<li>Annual postdoctoral research symposium and travel awards </li>
	<li>Postdoc representation on university shared governance committees</li>
	<li>Confidential consultation and support</li>
</ul>

<p class="mb-4 text-xl"><strong>1,100 postdocs are trained at UW&ndash;Madison each year </strong></p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>42% female </li>
	<li>53% international</li> 
	<li>130 different departments</li> 
	<li>All postdocs are eligible to receive affordable comprehensive medical, prescription drug, dental and vision coverage, and paid time off including parental leave.</li>
</ul>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8" src="/img/uw-lab.jpg" alt="Scientist in Lab"></div>

<h2 class="font-bold text-2xl mb-4">What sets UW&ndash;Madison apart?</h2>
<p class="mb-4 text-xl">UW&ndash;Madison is a world-class research enterprise </p>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>$1.52B annual research expenditures </li>
	<li>#8 – National research ranking among U.S. universities </li>
	<li>20 Nobel prize winners and 41 Pulitzer Prize winners </li>
	<li>#12 – Patents granted among U.S. universities </li>
	<li>400+ startups formed from UW research</li>
</ul>
</div>

<div class="bg-blue-100 border border-blue-500 px-4 py-3 mt-8">
<h2 class="font-bold text-2xl mb-2">Helpful Resources</h2>
<ul class="list-disc list-inside ml-4 text-xl mb-4">
	<li><a class="hover:underline" href="https://www.wisc.edu/">University of Wisconsin</a></li>
	<li><a class="hover:underline"  href="https://postdoc.wisc.edu">Postdoc Office</a></li>
	<li><a class="hover:underline"  href="https://hr.wisc.edu/postdoc-and-research-intern-vacancies">Job Portal for Postdoc Opportunities</a></li>
</ul>
</div>
</section>
