---
title: University of Wisconsin-Madison
layout: layouts/base.njk
permalink: /uw/
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">University of Wisconsin&ndash;Madison</h1>

<img class="float-right pl-4 mb-8" src="/img/uw.png" alt="University of Wisconsin-Madison">

<p class="mb-4 text-xl">Choose an institution where you will enjoy and maximize your postdoctoral training experience! The University of Wisconsin&ndash;Madison will provide you with the training, resources and support you need to meet your personal and professional goals.  </p>

<div class="bg-white rounded-x1 shadow-sm p-6 border clear-both">
<h2 class="font-bold text-2xl mb-2">A World-Class Research Experience </h2>
<p class="mb-4 text-xl">Since its founding in 1848, the University of Wisconsin&ndash;Madison has been a catalyst for the extraordinary. UW&ndash;Madison has more than $1.52 billion in annual research spending, a figure that puts us among the top 10 in the nation among universities for volume of research. We are distinct from other institutions due to our significant breadth of disciplines and cross-campus research collaborations. We invest in next-generation thought leaders and cutting-edge research infrastructure which together form an enterprise that benefits Wisconsin, the nation, and the world.  </p>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8 md:float-right md:max-w-md md:ml-8" src="/img/uw-lab.jpg" alt="Lab"></div>

<h2 class="font-bold text-2xl mb-2">Points of Pride</h2>
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>#8 – National research ranking </li>
	<li>$1.52 billion annual research spending </li>
	<li>20 Nobel prize winners and 41 Pulitzer Prize winners  </li>
	<li>#12 – Patents granted among U.S. universities </li>
	<li>400+ startups formed from UW research </li>
</ul>

<p class="mb-4 text-xl"><strong>A Place Where a Diversity of Identities, ideas, and Experiences are Valued</strong></p>
<p class="mb-4 text-xl">Diversity is a source of strength, creativity, and innovation for UW&ndash;Madison. We value the contributions of each person and respect the profound ways their identity, culture, background, experience, status, abilities, and opinions enrich the university community. We commit ourselves to the pursuit of excellence in teaching, research, outreach, and diversity as inextricably linked goals. </p>

<p class="mb-4 text-xl"><strong>A Vibrant and Connected Postdoc Community </strong></p>
<p class="mb-4 text-xl">UW&ndash;Madison is one of the largest postdoctoral research training institutions in the U.S. training over 1,100 postdocs each year. Our postdoc community is 42% female and 53% international, and our postdocs train in 130 different departments from the arts and humanities to the biological, physical and social sciences. To ensure that the unique needs of the postdoc community are recognized, postdoc representatives are appointed to university shared governance committees. We also support a strong and long-standing postdoctoral association which organizes community building activities throughout the year including the Annual UW&ndash;Madison Postdoctoral Research Symposium in the fall, and the Celebration of Postdoc Excellence awards ceremony and dinner each spring.  </p>

<p class="mb-4 text-xl"><strong>Opportunities to Advance Your Career and Develop Professionally </strong></p>
<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8 md:float-right md:max-w-md md:ml-8" src="/img/uw-terrace.jpg" alt="Terrace"></div>

<p class="mb-4 text-xl">In addition to receiving mentored research training from world-class research leaders, UW&ndash;Madison postdocs also have free access to substantive professional development opportunities tailored to postdocs. We are fortunate to have three full-time staff dedicated to providing postdoc services within the Office of Postdoctoral Studies. This team offers individual career advising appointments, small group workshops, and employer visits to promote postdoc success in a diverse range of career paths. Recognizing the importance of professional skills development, the postdoc office also offers a course in scientific leadership, grant writing training and support, and regular workshops in critical skills such as conflict resolution and project management. Additional UW&ndash;Madison programs offer further postdoc-specific training in areas such as teaching, entrepreneurship and communication skills.   </p>

<p class="mb-4 text-xl"><strong>Support for Your Success and Wellbeing  </strong></p>
<p class="mb-4 text-xl">Postdocs are eligible to receive affordable comprehensive medical, prescription drug, dental and vision coverage, and generous paid time off including parental leave. We recognize that postdoc needs are different from other members of our community so the Office of Postdoctoral Studies provides confidential consultation and support to postdocs to help them navigate their postdoctoral training experience including any issues arising in their mentoring relationships. When personal or work-related concerns become difficult to manage, UW&ndash;Madison’s Employee Assistance Office also offers postdocs and their family members counseling and consultation at no cost. In these ways, we aim to ensure the success and wellbeing of every postdoc at the university.   </p>

</div>

<div class="bg-blue-100 border border-blue-500 px-4 py-3 mt-8">
<h2 class="font-bold text-2xl mb-2">Helpful Resources</h2>
<ul class="list-disc list-inside ml-4 text-xl mb-4">
	<li><a class="hover:underline" href="https://www.wisc.edu/">University of Wisconsin</a></li>
	<li><a class="hover:underline"  href="https://postdoc.wisc.edu">Postdoc Office</a></li>
	<li><a class="hover:underline"  href="https://hr.wisc.edu/postdoc-and-research-intern-vacancies">Job Portal for Postdoc Opportunities</a></li>
</ul>
</div>
</section>
