---
title: Versiti Blood Research Institute
layout: layouts/base.njk
permalink: /versiti/
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>

<img class="float-right pl-4 mb-4" src="/img/versiti.png" alt="Versiti Blood Research Institute">

<p class="mb-8 text-xl">Versiti is a fusion of donors, scientific curiosity, and precision medicine that recognizes the gifts of blood and life are precious. We are home to the world-renowned Versiti Blood Research Institute, we enable lifesaving gifts from our donors, and we provide the science behind the medicine through Versiti’s diagnostic laboratories. </p>
<div class="bg-white rounded-x1 shadow-sm p-6 border clear-both">
<h2 class="font-bold text-2xl mb-2">Mission </h2>
<p class="mb-8 text-xl">The Versiti Blood Research Institute’s work is dedicated to hematology in all its facets, spanning basic, translational, and clinical research, all with one goal: to make people’s lives better. </p>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8 md:float-right md:max-w-md md:ml-8" src="/img/versiti-research.jpg" alt="Research"></div>

<h2 class="font-bold text-2xl mb-2">Postdocs at a Glance </h2>
<p class="mb-4 text-xl"><strong>Demographics:</strong> 22 post docs from India, US, Iran, China, Vietnam, France </p>

<p class="mb-2 text-xl"><strong>Departments:</strong> 4 Science Programs</p> 
<ul class="list-disc list-inside ml-4 text-xl mb-8">
	<li>Immunobiology</li>
	<li>Hematopoiesis & Stem Cell Biology</li>
	<li>Thrombosis and Hemostasis</li>
	<li>Transfusion Medicine, Vascular Biology & Cell Therapy</li>
</ul>

<h2 class="font-bold text-2xl mb-4">What sets Versiti apart?</h2>

<p class="mb-4 text-xl">Basic research is housed at Versiti Blood Research Institute (VBRI), a state-of-the-art facility that gives investigators access to cutting-edge research equipment and related specialized services. VBRI is located on the Milwaukee Regional Medical Center campus, along with the Medical College of Wisconsin, Froedtert Hospital, and Children’s Wisconsin. </p>

<p class="mb-4 text-xl">In addition to the intellectual capital and resources within Versiti, the local density of healthcare and research facilities provides us with a rich environment for biomedical research. Clinical scientists at Versiti Medical Sciences Institute facilitate opportunities to identify and engage in collaborative translational research. Contract research scientists aid industry partners in custom projects that help advance innovative drugs, products, and services. We also partner with Versiti Diagnostic Laboratories to develop new and improved testing to better diagnose patients around the world. </p>

<div class="px-16"><img class="max-w rounded overflow-hidden shadow-xl bg-whitep mb-8 md:float-right md:max-w-md md:ml-8" src="/img/versiti-poster.jpg" alt="Poster session"></div>

<p class="mb-4 text-xl"> Postdoctoral fellows receive individualized support and mentorship throughout their time at the VBRI. Through mentorship, educational and training opportunities, we prepare the whole researcher for their independent career. With a vision for changing the word, we are in the process of constructing a new research building and doubling our number of investigators.</p>

<h2 class="font-bold text-2xl mb-4">Benefits:</h2>

<p class="mb-4 text-xl">International post-docs receive concierge style immigration support with a dedicated staff member providing specific immigration information and support. We are a designated sponsor of the exchange visitor program, employ F-1 students on CPT or OPT, and support international employees. We work with a proven immigration firm to support employees for long-term immigration needs.  </p>

<p class="mb-4 text-xl">Versiti recognizes the importance of overall employee well-being and is pleased to offer a competitive, comprehensive benefits package. Benefits include insurance, paid time off, retirement savings plan, tuition reimbursement, and an incentive program. </p>
</div>

<div class="bg-blue-100 border border-blue-500 px-4 py-3 mt-8">
<h2 class="font-bold text-2xl mb-2">Helpful Resources</h2>
<ul class="list-disc list-inside ml-4 text-xl mb-4">
	<li><a class="hover:underline" href="https://www.versiti.org/versiti-blood-research-institute">Veriti Blood Research Institute</a></li>
	<li><a class="hover:underline"  href="https://www.versiti.org/versiti-blood-research-institute/vbri-education/research-training-opportunities">Graduate Research and Postdoctoral Training Opportunities</a></li>
	<li><a class="hover:underline"  href="https://careers-versiti.icims.com/jobs/search?ss=1&searchRelation=keyword_all&searchLocation=-12834-Wauwatosa">Job Portal for Postdocs Opportunities</a></li>
	<li><a class="hover:underline"  href="https://www.versiti.org/careers/living-in-milwaukee">Living in Milwaukee</a></li>
	<li><a class="hover:underline"  href="https://www.youtube.com/playlist?list=PLyVkOSQ2MRLdg5OmKYZVNwZtJSYhBJ-6n">Versiti YouTube Channel</a></li>
</ul>
</div>
</section>
