---
title: Why Wisconsin?
layout: layouts/base.njk
permalink: /wisconsin/
eleventyNavigation:
  key: Why Wisconsin?
  order: 2
---
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-center lg:text-left">
<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>

<p class="mb-12 text-xl">The state of Wisconsin has been instrumental in defining the relationship between scientific discovery and society. More than a century ago, the <a href="https://www.wisc.edu/wisconsin-idea/">Wisconsin Idea</a> was articulated to explain that <em>“university research should be applied to solve problems and improve health, quality of life, the environment, and agriculture for all citizens of the state”</em>. This philosophy is still strongly rooted in Wisconsin and broadly drives scientific research in a deep commitment to enhancing public health. As a postdoctoral trainee in our state, you will become part of a long tradition of research excellence and a torchbearer for scientific discovery that benefits all people.</p>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
	<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
	<img class="w-full" src="/img/milwaukee.jpg" alt="Milwaukee">
	<div class="px-6 py-4">
	<h2 class="font-bold text-2xl mb-2">About Milwaukee</h2>

	<p class="mb-6 text-xl text-base">Milwaukee, Wisconsin’s largest city, is known for its rich cultural scene and welcoming community. Located on the shores of Lake Michigan, it offers beautiful waterfront views and a lively downtown area. The city boasts a diverse array of museums, theaters, and festivals, celebrating everything from music to cuisine. Milwaukee is also a hub for education and innovation, with strong industries in brewing, healthcare, and technology. Its friendly neighborhoods and vibrant atmosphere make it a great place to live, work, and explore. Named a <a href="https://www.visitmilwaukee.org/press-releases/post/national-geographic-names-milwaukee-a-best-place-to-visit-in-2023/">top global travel destination by National Geographic</a>, Milwaukee is a diverse city on the rise. </p>
	

	<p class="mb-6"><a href="https://www.visitmilwaukee.org/about-milwaukee/areas-to-explore/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about Milwaukee</a></p>
	</div>
	</div>
	
	<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
	<img class="w-full" src="/img/madison.jpg" alt="Madison">
	<div class="px-6 py-4">
	<h2 class="font-bold text-2xl mb-2">About Madison</h2>

	<p class="mb-6 text-xl text-base">Built on an isthmus and surrounded by lakes, Madison, the capital of Wisconsin, blends the city and campus, green spaces and urban areas, to create a place unlike anywhere else. It is renowned for its vibrant culture and high quality of life and offers stunning natural scenery and ample outdoor activities. Madison has been ranked one of the <a href="https://realestate.usnews.com/places/rankings/best-places-to-live-for-quality-of-life">Best Places to Live for Quality of Life in the U.S.</a> with a lively arts and music scene, diverse dining options, and numerous festivals throughout the year. With its welcoming community, excellent schools, and thriving job market, Madison is a wonderful place to live and grow. This city never stops moving!</p>

	<p class="mb-6"><a href="https://www.visitmadison.com/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about Madison</a></p>
	</div>
	</div>
	
	<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
	<img class="w-full" src="/img/wisconsin.jpg" alt="Wisconsin">
	<div class="px-6 py-4">
	<h2 class="font-bold text-2xl mb-2">About Wisconsin</h2>

	<p class="mb-6 text-xl text-base">Wisconsin is a state brimming with natural beauty and vibrant communities, making it an ideal place to call home. Known as "America's Dairyland," it offers stunning landscapes, from the picturesque shores of Lake Michigan and Lake Superior to the rolling hills and lush forests of its interior. The state has a rich cultural heritage, with numerous festivals, museums, and historical sites that celebrate its diverse history. Wisconsin is also a hub for education and innovation, with top-tier universities and a thriving job market in sectors like healthcare, biotechnology, and manufacturing. The friendly, community-oriented spirit of its residents ensures a welcoming environment, while the four distinct seasons provide a variety of recreational activities year-round, from skiing and snowboarding in winter to hiking and boating in summer.</p>

	<p class="mb-6"><a href="https://www.travelwisconsin.com/" class="py-2 px-4 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-600">Learn more about Wisconsin</a></p>
	</div>
	</div>
</div>
</div>
</section>
