---
title: Wisconsin Postdoc Expo
layout: layouts/base.njk
---
<div class="py-20" style="background-image: url('img/postdoc-hero-big-bg.jpg'); background-repeat: no-repeat; background-position: right; background-size: cover; background-color: #0145cc;">
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-center lg:text-left lg:w-1/2 bg-black lg:bg-transparent bg-opacity-50 pb-10 lg:pb-0">
 <!--<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>-->
 <h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none text-white">Wisconsin Postdoc Expo</h1>
 <h2 class="mb-4 text-2xl lg:text-3xl xl:text-4xl leading-none text-white">Wednesday, November 6, 2024 <br />
10:00am - 3:00pm Central Time</h2>
 <p class="text-xl lg:text-2xl mt-6 font-light text-white">Save the date for this free virtual event for prospective postdocs! Discover the diverse training opportunities at multiple research institutions in Wisconsin. Plus, spend time with current postdocs and career experts from our institutes to learn how to choose the best postdoc for you and maximize your experience.
</p>
 <p class="mt-8 md:mt-12 mb-8"><a href="#update" class="py-4 px-12 bg-white text-blue-800 rounded cursor-pointer hover:bg-zinc-100">Sign up for Updates</a></p>
</div>
<div class="lg:w-1/2">
</div>
</section>
</div>
<section class="py-20 lg:pb-10 lg:pt-24">
	<div class="container mx-auto grid gap-2 auto-rows-fr">
		<div class="col-span-1 flex flex-col sm:flex-row sm:mx-3 mt-12">
	<div class="flex-1 px-3"><div class="p-12 rounded-lg border border-solid border-gray-200 mb-8 h-full bg-white" style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
			<h3 class="font-semibold text-2xl">Sessions include:</h3>
			<ul class="mt-4 list-disc">
				<li>Navigating the transition into a postdoc position</li>
				<li>Choosing and securing the right postdoc opportunity for you</li>
				<li>Exploring the Wisconsin postdoc experience</li>
				<li>Leveraging your postdoc experience to achieve your career goals</li>
			</ul>
	</div></div>
	<div class="flex-1 px-3"><div class="p-12 rounded-lg border border-solid border-gray-200 mb-8 h-full bg-white" style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
			<h3 class="font-semibold text-2xl">Intended audience:</h3>
			<p class="mt-4">All current trainees (postdocs and graduate students) who may be considering a postdoctoral research position as a future step in their career progression.</p>
	</div></div>
	<div class="flex-1 px-3"><div class="p-12 rounded-lg border border-solid border-gray-200 mb-8 h-full bg-white" style="box-shadow:0 10px 28px rgba(0,0,0,.08)"><h3 class="font-semibold text-2xl">Participating Institutions:</h3>
			<ul class="mt-4 list-disc">
				<li><a href="https://mcw.edu/">Medical College of Wisconsin</a></li>
				<li><a href="https://morgridge.org/">Morgridge Institute for Research</a></li>
				<li><a href="https://wisc.edu/">University of Wisconsin&ndash;Madison</a></li>
				<li><a href="https://www.versiti.org/versiti-blood-research-institute">Versiti Blood Research Institute</a></li>
			</ul></div></div>
		</div>
	</div>
</section>

<section class="container mx-auto my-20 py-24 bg-gray-200 rounded-lg text-center md:p-24 lg:p-48">
	<h3 class="text-5xl font-semibold" id="update">Keep in Touch</h3>
	<p class="mt-8 text-xl font-light">If you want to be informed about updates to the Wisconsin Postdoc Expo, let us know. We'll notify you when registration opens and when other important information about the event is available.</p>
	<div id="wufoo-z17p1b5n0lo2qng"> Fill out my <a href="https://morgridgeinstitute.wufoo.com/forms/z17p1b5n0lo2qng">online form</a>. </div> <script type="text/javascript"> var z17p1b5n0lo2qng; (function(d, t) { var s = d.createElement(t), options = { 'userName':'morgridgeinstitute', 'formHash':'z17p1b5n0lo2qng', 'autoResize':true, 'height':'403', 'async':true, 'host':'wufoo.com', 'header':'hide', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { z17p1b5n0lo2qng = new WufooForm(); z17p1b5n0lo2qng.initialize(options); z17p1b5n0lo2qng.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
</section>