---
title: Wisconsin Postdoc Expo
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---
<div class="py-20" style="background-image: url('img/postdoc-hero-big-bg.jpg'); background-repeat: no-repeat; background-position: right; background-size: cover; background-color: #0145cc;">
<section class="container mx-auto px-8 lg:flex pt-16">
<div class="text-center lg:text-left lg:w-1/2 bg-black lg:bg-transparent bg-opacity-50 pb-10 lg:pb-0">
 <!--<h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">{{title}}</h1>-->
 <h1 class="mb-4 text-4xl lg:text-5xl xl:text-6xl font-bold leading-none text-white">Wisconsin Postdoc Expo</h1>
 <h2 class="mb-4 text-2xl lg:text-3xl xl:text-4xl leading-none text-white">Wednesday, November 6, 2024 <br />
10:00am - 3:00pm Central Time</h2>
 <p class="text-xl lg:text-2xl mt-6 font-light text-white">Thank you for your interest in the FREE Wisconsin Postdoc Expo, where you can discover the diverse training opportunities at multiple research institutions in Wisconsin. Plus, spend time with current postdocs and career experts from our institutes to learn how to choose the best postdoc for you and maximize your experience. </p>
 <p class="mt-8 md:mt-12 mb-8"><a href="/register/" class="py-4 px-12 bg-white text-blue-800 rounded cursor-pointer hover:bg-zinc-100">Register Now</a></p>
</div>
<div class="lg:w-1/2">
</div>
</section>
</div>
<section class="py-20 lg:pb-10 lg:pt-8">
	<div class="container mx-auto grid gap-2 auto-rows-fr">
		<div class="col-span-1 grid md:grid-cols-2 gap-4 sm:mx-3 mt-12">
	<div class="px-3"><div class="p-6 rounded-lg border border-solid border-gray-200 mb-8 h-full bg-white" style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
			<h3 class="font-semibold text-2xl">Initiative</h3>
			<p class="mt-4">This half-day FREE event will be open to all trainees interested in pursuing postdoctoral training in the near future. The focus of this event is to highlight the unique experiences of being a postdoc at one of our four institutions in Milwaukee and Madison:</p>
			<ul class="mt-4 list-disc ml-4">
				<li><a href="/mcw/">Medical College of Wisconsin</a></li>
				<li><a href="/morgridge/">Morgridge Institute for Research</a></li>
				<li><a href="/versiti/">University of Wisconsin&ndash;Madison</a></li>
				<li><a href="/uw/">Versiti Blood Research Institute</a></li>
			</ul>
	</div></div>
	<div class="px-3"><div class="p-6 rounded-lg border border-solid border-gray-200 mb-8 h-full bg-white" style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
			<h3 class="font-semibold text-2xl">Event Details</h3>
			<ul class="mt-4 list-disc ml-4">
				<li>Navigating the transition into a postdoc position</li>
				<li>Choosing and securing the right postdoc opportunity for you</li>
				<li>Exploring the Wisconsin postdoc experience</li>
				<li>Leveraging your postdoc experience to achieve your career goals</li>
			</ul>
			<p class="mt-8 md:mt-12 mb-8"><a href="/register/" class="py-4 px-12 bg-blue-800 text-white rounded cursor-pointer hover:bg-blue-900">Register Now</a></p>
	</div></div>
	<div class="px-3"><div class="p-6 rounded-lg border border-solid border-gray-200 mb-8 h-full bg-white" style="box-shadow:0 10px 28px rgba(0,0,0,.08)"><h3 class="font-semibold text-2xl">Eligibility</h3>
			<p class="mt-4">All current trainees (postdocs and graduate students) who may be considering a postdoctoral training position as a future step in their career progression. </p>
			<ul class="mt-4 list-disc ml-4">
				<li>There is no citizenship requirement to attend.</li>
				<li>This is at no cost to attendees.</li>
			</ul>
	</div></div>
	<div class="px-3"><div class="p-6 rounded-lg border border-solid border-gray-200 mb-8 h-full bg-white" style="box-shadow:0 10px 28px rgba(0,0,0,.08)"><h3 class="font-semibold text-2xl">Accommodations</h3>
			<ul class="mt-4 list-disc ml-4">
				<li>This event will run through Zoom and live captioning features will be utilized. </li>
				<li>If any other accommodations are needed, please contact <a href="mailto:info@wipostdocexpo.org">info@wipostdocexpo.org</a></li>
			</ul>
		</div>
		</div>
	</div>
</section>
<section class="bg-white mt-12">
<div class="mx-auto container py-8">
	<div class="grid grid-cols-2 lg:grid-cols-4 gap-8">
		<div><a href="/mcw/"><img src="/img/medicalcollege.png" alt="Medical College of Wisconsin"></a></div>
		<div><a href="/morgridge/"><img class="mt-8" src="/img/morgridge.png" alt="Morgridge Institute for Research"></a></div>
		<div><a href="/versiti/"><img class="mt-8" src="/img/versiti.png" alt="Versiti Blood Research Institute"></a></div>
		<div><a href="/uw/"><img src="/img/uw.png" alt="University of Wisconsin-Madison"></a></div>
	</div>
</div>
</section>